<template>
  <q-page padding>
    <h2 class="text-uppercase text-center">Contacto</h2>
    <section class="form q-ma-xl q-pa-xl">
      <form class="column" style="width:50vw" id="form1" name="form1" method="post" action="enviar.php" >

        <div class="row">

          <div class="col-sm col-xs-12 column q-mr-md">
            <label>Nombre:</label>
            <input class="input-welii" type="text" name="nombre"/> 
          </div>

          <div class="col-sm col-xs-12 column">
            <label>Correo Electrónico:</label>
            <input class="input-welii" type="text" name="correo"/>
          </div>

        </div>

        <div class="column q-mb-lg">
        <label>Asunto:</label>
        <input class="input-welii" type="text" name="asunto"/>
        </div>

        <div class="column q-mb-lg">
        <label>Mensaje:</label>
        <textarea rows="8" type="text" name="mensaje"></textarea>
        </div>

        <div class="column">
        <input class="submit" type="submit" name="enviar" />
        </div>

      </form>
    </section>

    <section class="row q-px-xl ">
      <div class="col-xs-12 col-sm column q-mb-lg q-mr-md">
        <label style="color:#ff2623">Bogotá</label>
        <p style="font-size:22px;">Calle 81 #11-08, Of 5-113,<br>
WeWork Calle 81. Bogotá.<br>
CP: 110221. Colombia<br>
Tel: +571 7563382</p>
        </div>

        <div class="col-xs-12 col-sm column q-mb-lg q-mr-md">
        <label style="color:#ff2623">Buenos Aires</label>
        <p style="font-size:22px;">
          Esmeralda 950, Oficina 18 /<br>
102, WeWork Torre Bellini.<br>
CABA. CP: 1007. Argentina<br>
Tel: +54 011 39875063
        </p>
        </div>

        <div class="col-xs-12 col-sm column q-mb-lg">
        <label style="color:#ff2623">Córdoba</label>
        <p style="font-size:22px;">
          Av. Hipólito Yrigoyen 31, piso<br>
7. Córdoba. CP: 5000.<br>
Argentina<br>
Tel: +54 0351 5711777
        </p>
        </div>
        </section>

  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
.form {
  background-image: url('~assets/fondo-contacto.png');
  background-size:contain; 
  background-position: 45vw;
  background-repeat: no-repeat;
}
.input-welii {
  border:2px solid #000;
  height:50px;
}
textarea {
  border:2px solid #000;

}
.submit {
  background-color: #4c4c4c;
  color: #fff;
  border: 0px solid transparent;
  height: 70px;
  width: 170px;
}
</style>
