<template>
  <q-page class="column">
    <section class="sct col row justify-end text-right q-mx-xl solucion">
      <h2 class="full-width">
        EN ESPAÑOL<br>
 <span style="color:rgb(99,169,31)"> Y EN LA NUBE</span>
      </h2>
      <p class="full-width">Gomedisys ayuda a <strong>centralizar, organizar y gestionar</strong> la<br>
información operacional y administrativa, de las entidades<br>
prestadoras del servicio de salud, de cualquier nivel de<br>
complejidad.
      </p>
      <div class="column modular-group">
      <div class="q-py-md q-px-xl q-my-md text-center modular flex flex-center" style="background-color:rgba(99, 169, 31, 1)">SOFTWARE AS A <br>SERVICE (SAAS)</div>

      <div class="q-py-md q-px-xl q-mb-md text-center modular" style="background-color:rgba(99, 169, 31, .85);">HOSPITAL INFORMATION <br>SYSTEM (HIS)</div>
      
      <div class="q-py-md q-px-xl q-mb-md text-center modular" style="background-color:rgba(99, 169, 31, .65);">SOFTWARE<br> WEB-CLOUD
 </div>
      <button class="accent-button self-center" style="width:200px" @click="$router.push('/servicios-gomedisys')"> <span style="color:red">+</span>Información</button>
      </div>
    </section>
    <div class="content-sol q-ma-xl q-pa-xl col">
      <img src="~assets/gomedisys-services.png" />
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName', 
}
</script>

<style>
.modular-group {
  margin-bottom: -100%;
  margin-top: 75px;
  z-index: 1000000;
}
.solucion h2 {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 33px;
  line-height: 1;
  color: #1f2534!important;
  
}
.solucion p {
  font-family: 'Nunito Sans';
  font-weight: normal;
  letter-spacing: 1px;
  color: #1f2534!important;
  font-size: 33px;
  line-height: 1;
}

.modular {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: normal;
  color:#fff;
  line-height: 1;
}
.content-sol {
  margin-top:-75px;
}

</style>
