<template>
  <q-page class="column">
    <section class="sct col row justify-end text-right q-mx-xl solucion">
      <h2 class="full-width">
        SIMPLE, <span style="color:#3f91bd;">EFICAZ</span>
      </h2>
      <p class="full-width">Plataforma <strong>tecnológica</strong> enfocada en la gestión<br>
      de <strong>información personal de salud,</strong><br>
      optimizando la <strong>adherencia</strong> terapéutica<br>
      mediante la recolección y análisis de datos<br>
      genuinos de la <strong>vida diaria</strong> de las personas.
      </p>
      <div class="column modular-group">
      <div class="q-py-md q-px-xl q-my-md text-center modular flex flex-center" style="background-color:#4293bf;">PROTOCOLO DE SEGUIMIENTO<br>AUTOMATIZADO</div>

      <div class="q-py-md q-px-xl q-mb-md text-center modular" style="background-color:rgba(31, 36, 52, .85);">INFORMACIÓN SEGURA<br>
      Y EN TIEMPO REAL</div>
      
      <div class="q-py-md q-px-xl q-mb-md text-center modular" style="background-color:rgba(31, 36, 52, .65);">INTERACCIÓN CON DISPOSITIVOS<br>
      DE SALUD</div>

      <div class="q-py-md  q-px-xl q-mb-md text-center modular" style="background-color:rgba(31, 36, 52, .45);">INTERACCIONES clínicas<br>
      Y EDUCATIVAS </div>

      <button class="accent-button self-center" style="width:200px" @click="$router.push('/servicios-gowelii')"> Servicios</button>
      </div>
    </section>
    <div class="content-sol q-ma-xl q-pa-xl col">
      <img src="~assets/gowelii-services.png" />
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName', 
}
</script>

<style>
.modular-group {
  margin-bottom: -100%;
  margin-top: 75px;
  z-index: 1000000;
}
.solucion h2 {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 33px;
  line-height: 1;
  color: #1f2534!important;
  
}
.solucion p {
  font-family: 'Nunito Sans';
  font-weight: normal;
  letter-spacing: 1px;
  color: #1f2534!important;
  font-size: 33px;
  line-height: 1;
}

.modular {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: normal;
  color:#fff;
  line-height: 1;
}
.content-sol {
  margin-top:-75px;
}

</style>
