<template>
  <q-page class="flex">
    <div class="full-width">

      <section class="flex flex-center bg-slide-1"> 

     </section>

    <section class="column items-center q-ma-xl q-pa-xl sct">
      <p class="text-center" style="width:80%;">Combinamos conocimientos y trayectoria en el ámbito de la salud
para brindar soluciones tecnológicas innovadoras en toda la región.</p>
<button class="accent-button" @click="$router.push('/solucion-1')">
  <span style="color:red">+</span> Información
</button>
    </section>
    <section class="flex flex-center bg-slide-2"> 
      <div class="text-center text-white">
            Brindamos soluciones innovando <br>
            al servicio de la salud
          </div>
     </section>

     <section class="sct row wrap section-go q-pa-xl">

       <p class="q-pa-lg text-center full-width " style="width:80%;">
         Promovemos el concepto de “salud
inteligente”, reconociendo el potencial
de las personas que están cada vez más
comprometidas con su salud.<br>
         <button class="accent-button" @click="$router.push('/soluciones')">
  <span style="color:red">+</span> Información
</button>
       </p>

      <div class="column card-presets">
        <img src="~assets/gowelii.png" />
        <div class="title">SMART HEALTH</div>
        <button class="accent-button" @click="$router.push('/gowelii')">
  <span style="color:red">+</span> Info
</button>

      </div>
      <div class="column card-presets">
        <img src="~assets/gomedisys.png" />
        <div class="title">HIS CLOUD BASED</div>
        <button class="accent-button" @click="$router.push('/gomedisys')">
  <span style="color:red">+</span> Info
</button>
      </div>

     </section>

     <section class="flex flex-center bg-slide-3"> 
     </section>

     <section class="sct column items-center q-ma-xl q-pa-xl">
      <p class="text-center" style="width:80%;">Nos enfocamos en <strong>mejorar la calidad de vida de las personas</strong>, optimizando
procesos y aplicando las nuevas tecnologías al servicio de la salud.</p>
<button class="accent-button" @click="$router.push('/solucion-3')">
  <span style="color:red">+</span> Información
</button>
    </section>
  </div>
  </q-page>
</template>

<style>

.flot {
  width: 300px;
  height: 2px;
  background-color: white;
  margin:0 1rem;
}


.control-slider {
   left: 70%;
    top: 60%;
    transform: translate(0%, -100%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}

.bg-slide-1 {
  background-image: url('~assets/slide-1.png');
}
.bg-slide-2 {
  background-image: url('~assets/slide-3.jpg');
}
.bg-slide-3 {
  background-image: url('~assets/slide-3.png');
}
.bg-slide-1, .bg-slide-2, .bg-slide-3 {
  background-size: 100% 100%;
  height: 555px;
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 62px;
  line-height:1;
}

.slide-bg {
  font-size: 62px;
  line-height:1;
  font-family: 'Nunito Sans';
  font-weight: 200;
}

.section-go {
  background: rgba(232,232,232,1);
  justify-content: center;
  background: linear-gradient(to bottom, rgba(232,232,232,1) 0%, rgba(232,232,232,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
}
.card-presets {
  align-items: center;
  margin: 0 16px;
}
.card-presets img{
  width: 450px;
}
.card-presets .title{
  color: #f83858;
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 32px;
  margin-top: 24px;
}
@media screen and (max-width:450px) {
  .bg-slide-1, .bg-slide-2, .bg-slide-3 {
    height: 155px;
    font-size:18px;
  }
}
@media screen and (min-width:768px) and (max-width: 1024px) {
  .bg-slide-1, .bg-slide-2, .bg-slide-3 {
    height: 400px;
  }
  .card-presets {
    margin-top: 2rem;
  }
  .card-presets img {
   width: 300px;
  }
}

  @media screen and (max-width: 768px) {  
  .card-presets {
  align-items: center;
  margin: 20px 16px;
}
.card-presets img{
  width: 250px;
}
.title {
  text-align: center;
}
}
@media screen and (min-width: 450px) and (max-width: 600px) {
.bg-slide-1, .bg-slide-2, .bg-slide-3 {
    height: 220px;
    font-size:18px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
.bg-slide-1, .bg-slide-2, .bg-slide-3 {
    height: 305px;
    font-size:18px;
  }
}

</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      slide: 1,
      autoplay: true,
    }
  }
}
</script>
