<template>
  <q-page class="column">

    <div class="sct col row justify-end text-right q-mx-xl solucion">
      <h2 class="full-width">
        <img src="~assets/gomedisys-lg.png"/>
      </h2>

      <p class="full-width q-mb-xl ">Gomedisys permite el <strong>manejo de su clínica, hospital<br>
o centros médico</strong> de cualquier nivel de complejidad.<br>
La información medica, financiera y administrativa<br>
se <strong>integra transversalmente</strong> partiendo desde la<br>
atención del paciente. Integración con otros sistemas<br>
mediante estándares de uso habitual en la industria.
      </p>
      

      <div class="content-sol q-mx-xl q-pt-xl q-px-xl col">
      <img src="~assets/grafica-1.png" class="q-pa-lg" width="800px" />
    </div>
    <div class="column modular-group">
      <div class="q-py-md q-px-xl q-my-md text-center modular flex flex-center" style="background-color:rgba(99, 169, 31, 1)">INTEGRACIÓN CON LIS Y RIS</div>
      <div class="q-py-md q-px-xl q-mb-md text-center modular" style="background-color:rgba(99, 169, 31, .85);">INTEROPERABILIDAD (MIEMBROS DE MAIS)</div> 
      </div>
      <div class="full-width row flex-center q-mb-xl">
           <button class="accent-button self-center" style="margin-left: 0; width:200px" @click="grafico1 = true">Ampliar</button>
    </div>

    </div>

    

<section style="background-color:#e6e6e6;" class=" sct q-pa-xl">
  <div class="sct col row justify-start text-left q-mx-xl solucion">
      <h2 class="full-width">
        SOFTWARE<br>
<span style="color:rgb(99,169,31)">AS A SERVICE</span> 
      </h2>
      <p class="full-width">La modalidad de software as a service mejora la<br>
eficiencia del gasto en tecnología.<br>
La alta flexibilidad para la parametrización permite<br>
adaptarse a diferentes tipos de instituciones.<br>
Su tecnología de desarrollo (MVC) lo hace uno de los HIS<br>
<strong>mas ligeros</strong> sobre plataformas de <strong>nube.</strong>
      </p>
    </div>

    <div class="content-sol q-ma-xl q-pa-xl col column items-end" style="margin:0">
      <img src="~assets/grafica-2.png" width="700px"/><br>
       <button class="accent-button self-center" style="width:200px" @click="grafico2 = true">Ampliar</button>
    </div>
</section>

<section class="q-pa-xl sct">
  <div class=" sct col row justify-end text-right q-mx-xl solucion">
      <h2 class="full-width">
       MICROSOFT<br>
<span style="color:rgb(99,169,31)">AZURE</span> 
      </h2>
      <p class="full-width" style="z-index:10;">Gomedisys funciona sobre la plataforma
web cloud de Microsoft Azure, logrando
un SaaS con los más altos estándares de
seguridad actuales. Como<br>
Partner ISV de Microsoft, cumple con un gran<br>
número de <strong> requisitos legales internacionales,<br>
nacionales y específicos del sector.</strong>
      </p>
    </div>

    <div class="content-sol col">
      <img src="~assets/grafica-3.png" class="q-mt-xl" width="700px" />
    </div>
    <div class="full-width row flex-center q-mb-xl">
           <button class="accent-button self-center" style="margin-left: 0; width:200px" @click="grafico3 = true">Ampliar</button>
    </div>
</section>
   <q-dialog
      v-model="grafico1"
      persistent full-width full-height
      transition-show="rotate" transition-hide="rotate"
    >
<div class="scroll bg-white" style="max-height: 100vh">
  <div class="full-width row bg-white">
  <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
  </div>  
<img src="~assets/grafica-1.png" class="full-width" />
</div>
    </q-dialog>

<q-dialog
      v-model="grafico2"
      persistent full-width full-height
      transition-show="rotate" transition-hide="rotate"
    >
<div class="scroll" style="max-height: 100vh">
  <div class="full-width row bg-white">
  <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
  </div>  
<img src="~assets/grafica-2.png" class="full-width" />
</div>
    </q-dialog>

   <q-dialog
      v-model="grafico3"
      persistent full-width full-height
      transition-show="rotate" transition-hide="rotate"
    >
<div class="scroll" style="max-height: 100vh">
  <div class="full-width row bg-white">
  <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
  </div>  
<img src="~assets/grafica-3.png" class="full-width" />
</div>
    </q-dialog>

  </q-page>
</template>

<script>
export default {
   data () {
    return {
      grafico1: false,
      grafico2: false,
      grafico3: false,
      
    }
  }
}
</script>

<style>
.modular-group {
  margin-bottom: -100%;
  margin-top: 75px;
  z-index: 1000000;
}
.solucion h2 {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 33px;
  line-height: 1;
  color: #1f2534!important;
  
}
.solucion p {
  font-family: 'Nunito Sans';
  font-weight: normal;
  letter-spacing: 1px;
  color: #1f2534!important;
  font-size: 33px;
  line-height: 1;
}

.modular {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: normal;
  color:#fff;
  line-height: 1;
}
.content-sol {
  margin-top:-75px;
}
.q-dialog {
  background: #fff;
  z-index: 9999999; 
}
</style>
