<template>
  <q-page class=" flex justify-center items-star">
    <svg class="q-mb-xl"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   style="width:100%;min-height:100vh;max-height:2000px;padding:10px;"
   
   viewBox="0 0 349.14062 367.16025"
   id="svg21383">
  <g
     inkscape:label="Capa 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(191.57924,35)">
    <g
       transform="matrix(0.35277777,0,0,-0.35277777,-218.51291,428.79495)"
       id="g20299">
      <g
         id="g20301"
         clip-path="url(#clipPath20305)">
        <g
           id="g20307">
          <g
             id="g20309" />
          <g
             id="g20321">
            <g
               clip-path="url(#clipPath20313)"
               id="g20319"
               style="opacity:0.94999701">
              <g
                 transform="translate(76.3474,1313.9766)"
                 id="g20317">
                <path
                   d="M 0,0 V -40.303 L 21.259,-60.45 0,-80.598 v -40.303 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20315"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20323">
          <g
             id="g20325" />
          <g
             id="g20349">
            <g
               clip-path="url(#clipPath20329)"
               id="g20347"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,1260.2021)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20333">
                <tspan
                   x="0 7.6799998 25.139999 40.950001 57.990002 68.190002 75.150002 91.919998 106.29 122.19 132.78 140.52 155.94 163.67999 181.14 196.95 203.91 210.87 227.91 243.72 259.62 270.20999"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20331">Identiﬁcar y delinear</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,387.4114,1260.2021)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20337">
                <tspan
                   x="0 14.55 31.92 49.950001 68.099998 79.589996 96.959999 114.99 132.24001 146.78999 154.92 169.56 186.81 204.36 212.49001 227.13 243.33 254.763 270.96301 285.69 296.76001 312.69 324.17999 331.79999 346.20001 357.26999 364.89001 379.53 395.73001 410.28 418.41 434.34 448.89001 466.92001 482.85001 497.48999 505.10999 521.31 528.92999 544.85999"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20335">subgrupos con características especiales</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,109.4614,1224.2021)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20341">
                <tspan
                   x="0 17.459999 33.27 50.310001 60.509998 70.800003 87.449997 95.190002 112.65 128.46001"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20339">dentro de</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,245.6614,1224.2021)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20345">
                <tspan
                   x="0 15.93 33.48 44.067001 59.997002 71.487 97.677002 113.607 131.63699 147.83701 165.867 181.797 196.347 204.47701 219.117 230.30701 247.55701 265.10699 272.72699 287.367 303.56699 317.96701"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20343">enfermedades crónicas.</tspan>
              </text>
            </g>
          </g>
        </g>
        <g
           id="g20351">
          <g
             id="g20353" />
          <g
             id="g20365">
            <g
               clip-path="url(#clipPath20357)"
               id="g20363"
               style="opacity:0.85000598">
              <g
                 transform="translate(76.3474,1182.5674)"
                 id="g20361">
                <path
                   d="M 0,0 V -40.304 L 21.259,-60.451 0,-80.599 v -40.303 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20359"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20367">
          <g
             id="g20369" />
          <g
             id="g20391">
            <g
               clip-path="url(#clipPath20373)"
               id="g20389"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,1125.4795)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20377">
                <tspan
                   x="0 20.01 35.91 53.34 63.540001 80.370003 90.839996 106.74 117.33"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20375">Capturar</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,234.5314,1125.4795)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20381">
                <tspan
                   x="0 7.6199999 25.17 35.759998 53.009998 64.5 90.690002 106.89 121.53 129.14999 146.39999 163.95 172.08 190.11 206.03999 214.17 232.2 248.13 260.97 271.56 288.81 300.29999 326.48999 342.69 360.23999 374.88"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20379">información de performance</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,633.0814,1125.4795)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20387">
                <tspan
                   x="0 17.459999 33.27 41.009998 66.57 82.379997 99.839996 106.8 121.17 137.07001 162.63 178.44 195.48 205.67999 222.33 236.73 244.47 259.89001"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20383">de medicamentos y</tspan>
                <tspan
                   x="-523.62 -513.41998 -497.60999 -483.23999 -466.20001 -449.54999 -442.59 -425.94 -408.35999 -401.39999 -385.5 -371.10001 -363.35999 -347.54999 -330.51001 -322.76999 -306.95999 -300 -292.26001 -266.70001 -249.87 -232.83 -215.37 -198.72 -190.98 -180.69 -164.88 -148.98 -142.02 -134.28 -124.86 -114.57 -98.760002 -82.860001 -75.900002 -68.160004 -55.41 -47.669998 -22.59 -5.9400001 4.6500001 11.61 29.07 36.810001 52.439999 67.860001 74.82 92.279999 108.09 125.13 139.5 155.31 163.05 175.8 183.53999 203.82001 236.85001 254.39999 263.82001"
                   y="36"
                   sodipodi:role="line"
                   id="tspan20385">tecnologías en el mundo real.</tspan>
              </text>
            </g>
          </g>
        </g>
        <g
           id="g20393">
          <g
             id="g20395" />
          <g
             id="g20407">
            <g
               clip-path="url(#clipPath20399)"
               id="g20405"
               style="opacity:0.75">
              <g
                 transform="translate(76.3474,1051.1572)"
                 id="g20403">
                <path
                   d="M 0,0 V -40.303 L 21.259,-60.45 0,-80.599 v -40.302 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20401"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20409">
          <g
             id="g20411" />
          <g
             id="g20431">
            <g
               clip-path="url(#clipPath20415)"
               id="g20429"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,979.4639)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20419">
                <tspan
                   x="0 21.719999 37.529999 54.57 70.379997 80.849998 96.75 107.34"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20417">Generar</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,224.5414,979.4639)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20423">
                <tspan
                   x="0 18.030001 34.23 45.299999 62.549999 77.099998 85.230003 101.01 109.14 127.17 143.10001 155.94 174.3 181.92 197.85001"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20421">datos y perﬁles</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,444.6814,979.4639)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20427">
                <tspan
                   x="0 17.459999 33.27 41.009998 58.470001 75.120003 92.580002 99.540001 115.44 129.81 136.77 153.42 170.46001 178.2 195.66 211.56 218.52 235.17 242.91 253.11 263.57999 279.48001 289.67999 305.57999 331.14001 338.10001 353.91 370.95001 381.14999 397.29001"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20425">de población bajo tratamiento.</tspan>
              </text>
            </g>
          </g>
        </g>
        <g
           id="g20433">
          <g
             id="g20435" />
          <g
             id="g20447">
            <g
               clip-path="url(#clipPath20439)"
               id="g20445"
               style="opacity:0.64999402">
              <g
                 transform="translate(76.3474,919.748)"
                 id="g20443">
                <path
                   d="M 0,0 V -40.304 L 21.259,-60.451 0,-80.599 v -40.303 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20441"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20449">
          <g
             id="g20451" />
          <g
             id="g20473">
            <g
               clip-path="url(#clipPath20455)"
               id="g20471"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,868.8721)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20459">
                <tspan
                   x="0 21.120001 36.540001 53.369999 70.830002 86.730003 97.32 105.06 120.96 127.92 135.66 153.12 169.02 183.39 190.35001 206.16 223.2 233.39999 249.21001 256.95001 272.85001"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20457">Ayudar al paciente a</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,390.0514,868.8721)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20463">
                <tspan
                   x="0 18.15 34.080002 48.48 59.549999 67.169998 84.419998 101.97 118.17 129.66 137.78999 152.34 169.71001 177.84 195.87 207.063 224.313 242.343 249.963 266.16299 274.293 288.93301 306.18301 323.733 341.763 349.383 364.02301 371.64301 388.89301"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20461">gestionar su propia condición</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,804.2344,868.8721)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20469">
                <tspan
                   x="0 15.42"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20465">y</tspan>
                <tspan
                   x="-694.77301 -684.573 -674.10303 -658.203 -641.16302 -626.763 -617.073 -600.42297 -589.83301 -564.27301 -548.37299 -537.93298 -523.53302 -507.72299 -499.983 -484.173 -467.133 -459.39301 -442.56299 -425.52301 -417.78299 -405.93301 -388.47299 -372.573 -358.203 -351.24301 -335.43301 -318.39301 -308.19299 -292.383 -284.64301 -269.043 -253.50301 -236.043 -220.233 -208.47301 -198.27299 -182.733 -172.47301"
                   y="36"
                   sodipodi:role="line"
                   id="tspan20467">transformarse en un “paciente experto”.</tspan>
              </text>
            </g>
          </g>
        </g>
        <g
           id="g20475">
          <g
             id="g20477" />
          <g
             id="g20489">
            <g
               clip-path="url(#clipPath20481)"
               id="g20487"
               style="opacity:0.55000299">
              <g
                 transform="translate(76.3474,788.3379)"
                 id="g20485">
                <path
                   d="M 0,0 V -40.303 L 21.259,-60.45 0,-80.599 v -40.302 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20483"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20491">
          <g
             id="g20493" />
          <g
             id="g20521">
            <g
               clip-path="url(#clipPath20497)"
               id="g20519"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,739.043)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20501">
                <tspan
                   x="0 21.120001 36.540001 53.369999 70.830002 86.730003 97.32 105.06 120.96 127.92 135.66 153.12 163.41 179.22 193.47 203.67 219.57001 237.03 253.67999 264.26999 272.01001 286.38 303.03 320.07001 327.81 345.26999 355.56 372.20999 389.79001 400.26001 416.16 441.72 457.62 472.01999 479.76001 497.22 513.03003 520.77002 538.22998 548.52002 564.15002 579.39001 595.20001 612.23999 626.60999 633.57001 650.21997 667.26001 674.13"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20499">Ayudar al prestador con programas de prevención,</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,791.3314,739.043)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20505">
                <tspan
                   x="0 16.200001 34.23 51.779999 67.709999 78.903 94.833 112.383 127.023 134.64301 150.843"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20503">adherencia,</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,109.4614,703.043)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20509">
                <tspan
                   x="0 15.81 33.27 50.099998 64.470001 80.370003 94.739998 101.7 118.35 135.39 143.13 158.55 166.28999 176.58 192.39 209.85001 226.5 238.25999 248.46001 264.26999 272.01001 289.47 305.28 313.01999"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20507">educación y reporte de r</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,433.0714,703.043)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20513">
                <tspan
                   x="0 15.93 30.48 47.849998 55.470001 66.540001 82.739998 100.77 118.02 132.57001 140.7 155.34 171.27 188.82001 199.89 211.32001 227.52 245.55 262.79999 277.35001 285.48001 301.41 318.95999 327.09 343.01999 350.64001 358.76999 376.79999 393 407.64001 415.26001 431.19 448.73999 459.81"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20511">esultados centrados en el paciente</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,916.5514,703.043)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20517">
                <tspan
                   x="0 9.4200001 28.77 49.200001 72.120003 97.349998 111.75"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20515">(PROMs)</tspan>
              </text>
            </g>
          </g>
        </g>
        <g
           id="g20523">
          <g
             id="g20525" />
          <g
             id="g20537">
            <g
               clip-path="url(#clipPath20529)"
               id="g20535"
               style="opacity:0.44999701">
              <g
                 transform="translate(76.3474,656.9287)"
                 id="g20533">
                <path
                   d="M 0,0 V -40.304 L 21.259,-60.451 0,-80.599 v -40.303 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20531"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20539">
          <g
             id="g20541" />
          <g
             id="g20561">
            <g
               clip-path="url(#clipPath20545)"
               id="g20559"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,603.9531)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20549">
                <tspan
                   x="0 21.450001 37.23 54.599998 72.629997 88.830002 100.32 108.45 124.65 132.27 140.39999 158.75999 176.31 192.50999 210.06 224.7 232.32001 248.52 266.54999 283.79999"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20547">Ayudar al ﬁnanciador</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,412.4914,603.9531)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20553">
                <tspan
                   x="0 15.9 23.639999 49.200001 65.849998 82.889999 89.849998 100.05 116.7 126.99 142.8 158.7 169.28999 177.03 187.23 203.03999 217.41 234.45 251.10001 258.06 274.70999 292.29001 299.25 315.14999 329.54999 337.29001 354.75 370.56 378.29999 394.20001 401.16 411.35999 428.01001 435.75 450.12 466.76999 481.01999 491.22 507.35999 514.22998"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20551">a monitorear tecnologías de alto costo,</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,109.4614,567.9531)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20557">
                <tspan
                   x="0 17.58 33.389999 50.43 66.239998 76.709999 92.610001 103.2 110.94 126.75 141 151.2 161.67 177.57001 187.77 203.58 221.16 228.12 244.02 258.42001 266.16 283.62 293.91 309.54001 324.78 340.59 357.63 367.82999 374.79001 389.94 405.84 420.23999 427.98001 443.79001 451.53 458.48999 475.95001 491.76001 508.79999 519 525.96002 542.72998 557.09998 573 583.59003 591.33002 607.22998 617.52002 633.33002 649.22998 663.63 671.37 688.83002 704.64001 712.38 719.34003 736.38 752.15698 768.927 783.297 790.25702 806.06702 823.10699 837.47699 844.43701 860.33698"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20555">generar estrategias preventivas e identiﬁcar áreas de ineﬁciencia.</tspan>
              </text>
            </g>
          </g>
        </g>
        <g
           id="g20563">
          <g
             id="g20565" />
          <g
             id="g20577">
            <g
               clip-path="url(#clipPath20569)"
               id="g20575"
               style="opacity:0.35000604">
              <g
                 transform="translate(76.3474,525.5186)"
                 id="g20573">
                <path
                   d="M 0,0 V -40.303 L 21.259,-60.45 0,-80.599 v -40.302 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20571"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20579">
          <g
             id="g20581" />
          <g
             id="g20599">
            <g
               clip-path="url(#clipPath20585)"
               id="g20597"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,473.8633)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20589">
                <tspan
                   x="0 21.450001 37.23 54.599998 72.629997 88.830002 100.32 108.45 124.65 132.78 140.39999 156.60001 164.73 172.35001 189.89999 207.92999 225.3 239.7 250.77 262.26001 269.88"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20587">Ayudar a la industria</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,403.2814,473.8633)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20595">
                <tspan
                   x="0 15.9 23.639999 40.290001 57.720001 67.919998 74.879997 100.44 107.4 122.34 138.24001 148.83 156.57001 172.38 186.63 196.83 207.3 223.2 233.39999 249.21001 266.79001 273.75 289.64999 304.04999 311.79001 329.25 345.06 352.79999 368.70001 383.07001 397.44 413.25 427.64999 444.29999 452.04001 466.41 483.06 500.10001"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20591">a optimizar estrategias de acceso con</tspan>
                <tspan
                   x="-293.82001 -278.19 -262.76999 -255.81 -238.35001 -222.53999 -205.5 -191.13 -184.17 -168.27 -160.53 -143.07001 -127.26 -119.52 -104.37 -88.470001 -81.510002 -64.860001 -54.900002 -48.029999 -40.290001 -24.51 -14.82 0.99000001 15.39 25.59 32.549999 47.970001 54.93 72.389999 88.290001 105.75 113.49 128.91 136.64999 151.05 166.86 184.44 201.27 211.86 218.82001 236.28 252.17999 269.64001"
                   y="36"
                   sodipodi:role="line"
                   id="tspan20593">evidencia de valor, efectividad y seguridad</tspan>
              </text>
            </g>
          </g>
        </g>
        <g
           id="g20601">
          <g
             id="g20603" />
          <g
             id="g20615">
            <g
               clip-path="url(#clipPath20607)"
               id="g20613"
               style="opacity:0.25">
              <g
                 transform="translate(76.3474,394.1094)"
                 id="g20611">
                <path
                   d="M 0,0 V -40.304 L 21.259,-60.451 0,-80.599 v -40.303 H 989.69 V 0 Z"
                   style="fill:#1f2534;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   id="path20609"
                   inkscape:connector-curvature="0" />
              </g>
            </g>
          </g>
        </g>
        <g
           id="g20617">
          <g
             id="g20619" />
          <g
             id="g20641">
            <g
               clip-path="url(#clipPath20623)"
               id="g20639"
               style="opacity:0.85000598">
              <text
                 transform="matrix(1,0,0,-1,109.4614,343.7734)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#606060;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20627">
                <tspan
                   x="0 20.58 36.389999 52.290001 59.25 66.209999 81.150002 97.050003 107.64"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20625">Realizar</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,224.8414,343.7734)"
                 style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Bold;writing-mode:lr-tb;fill:#606060;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20631">
                <tspan
                   x="0 14.55 29.190001 40.380001 56.310001 72.239998 89.790001 97.410004 114.96 133.11 147.66 155.78999 173.82001 191.07001 209.10001 216.72 232.92 247.56 255.17999 272.42999 289.98001 306.17999 313.79999 329.73001 344.13"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20629">screenings poblacionales,</tspan>
              </text>
              <text
                 transform="matrix(1,0,0,-1,584.1514,343.7734)"
                 style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:30px;font-family:'Nunito Sans';-inkscape-font-specification:NunitoSans-Regular;writing-mode:lr-tb;fill:#606060;fill-opacity:1;fill-rule:nonzero;stroke:none"
                 id="text20637">
                <tspan
                   x="0 17.459999 33.360001 43.830002 59.73 67.470001 84.93 100.65 110.85 126.66 141.03 155.39999 162.36 179.00999 196.05 203.78999 213.99001 229.8 255.36 272.82001 283.29001 299.19 316.23001 332.13 339.87 357.32999 373.14001"
                   y="0"
                   sodipodi:role="line"
                   id="tspan20633">para deteccion temprana de</tspan>
                <tspan
                   x="-474.69 -465 -449.10001 -434.70001 -424.5 -407.85001 -397.56 -381.75 -367.35001 -359.60999 -342.14999 -326.34 -318.60001 -304.20001 -288.29999 -281.34 -264.51001 -247.05"
                   y="36"
                   sodipodi:role="line"
                   id="tspan20635">factores de salud.</tspan>
              </text>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
