<template>
  <q-page class="column">
    <section class="col row justify-right text-right q-mx-xl solucion sct">
      <h2 class="full-width">
        SALIMOS A<br> BUSCAR EL <span style="color:#f62626;">FUTURO</span>
      </h2>
      <p class="full-width">Somos un <strong>equipo</strong> interdiciplinario<br> que combina <strong>conocimientos y<br> trayectoria</strong> en el ámbito de la<br> salud y la tecnología.
      </p>
    </section>
    <div class="content-sol q-ma-xl col">
      <img src="~assets/sol-1.png" />
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName', 
}
</script>

<style>
.solucion h2 {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 33px;
  line-height: 1;
  color: #1f2534!important;
  
}
.solucion p {
  font-family: 'Nunito Sans';
  font-weight: normal;
  letter-spacing: 1px;
  color: #1f2534!important;
  font-size: 33px;
  line-height: 1;
  
}


</style>
