<template>
  <q-page class="column">
    <section class="col row sct justify-right text-right q-mx-xl solucion">
      <h2 class="full-width">
        PERSONAS <span style="color:#f62626;">CONECTADAS</span><br>
PERSONAS <span style="color:#f62626;">SANAS</span>
      </h2>
      <p class="full-width">
        Nos enfocamos en <strong>mejorar la calidad<br>
de vida de las personas,</strong> optimizando<br>
procesos y aplicando las <strong>nuevas<br>
tecnologías</strong> al servicio de la salud.
      </p>
    </section>
    <div class="content-sol q-ma-xl col">
      <img src="~assets/sol-2.png" />
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName', 
}
</script>

<style>
.solucion h2 {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 33px;
  line-height: 1;
  color: #1f2534!important;
  
}
.solucion p {
  font-family: 'Nunito Sans';
  font-weight: normal;
  letter-spacing: 1px;
  color: #1f2534!important;
  font-size: 33px;
  line-height: 1;
  
}


</style>
