<template>
  <q-page class="column">
    <section class="sct col row justify-right text-right q-mx-xl solucion">
      <h2 class="full-width">
        INNOVACIÓN <span style="color:#f62626;">ABIERTA</span>
      </h2>
      <p class="full-width">
<strong>Nuestros servicios</strong> combinan herramientas<br>
simples con <strong>soluciones innovadoras</strong> que<br>
trabajan de manera integral, potenciando<br>
resultados y mejorando la eficiencia del<br>
<strong>cuidado de la salud.</strong>
      </p>
    </section>

    <div class="content-sol q-ma-xl q-pa-xl col">
      <img src="~assets/sol-3.png" />
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName', 
}
</script>

<style>
.solucion h2 {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 33px;
  line-height: 1;
  color: #1f2534!important;
  
}
.solucion p {
  font-family: 'Nunito Sans';
  font-weight: normal;
  letter-spacing: 1px;
  color: #1f2534!important;
  font-size: 33px;
  line-height: 1;
  
}


</style>