<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
body, label, .submit {
  font-family: 'Nunito Sans';
  font-weight: normal;
}

label {
  color:#4c4c4c;
  margin-bottom:10px;
}
p {color: #606060;}

p, label, .submit {
   font-size: 33px;
  line-height: 1;
  letter-spacing: .5px;
  font-weight: normal;
}
h6, h2 {
  margin: 1rem 0;
}
.accent-button {
  border:1px solid #606060;
  background: white;
  color: black;
  font-size: 24px;
  padding: 10px 24px;
  margin-top: 24px;
  cursor: pointer;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('~assets/fonts/NunitoSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('~assets/fonts/NunitoSans-Light.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('~assets/fonts/NunitoSans-SemiBold.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('~assets/fonts/NunitoSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('~assets/fonts/NunitoSans-Black.ttf');
  font-weight: bold;
}
strong {
  font-family: 'Nunito Sans';
  font-weight: 700;
}
</style>
