
<template>
  <q-layout view="hHh LpR fff">

    <q-header reveal class="header bg-white q-px-xl q-py-lg" style="z-index:99999999999999">
      <q-toolbar> 
        <q-toolbar-title>
          <q-avatar>
            <div @click="$router.push('/')" style="cursor: pointer"><img src="~assets/logo.png"></div>
          </q-avatar>
        </q-toolbar-title>  
        
        <q-tabs class="nav-color desktop-only">
        <q-route-tab to="/" label="welii" />
        <q-route-tab to="/soluciones" label="soluciones" />
        <q-route-tab to="/gowelii" label="gowelii" />
        <q-route-tab to="/gomedisys" label="gomedisys" />
        <q-tab @click="openURL('http://aulavirtual.welii.com/')" label="campus"/>
        <q-route-tab to="/contacto" label="contacto" />
      </q-tabs>

     <q-btn dense flat round icon="menu" color="primary" @click="left = !left" class="mobile-only"/> 
      </q-toolbar>
    </q-header>

    <q-drawer v-model="left" side="left" overlay behavior="mobile">
      <q-splitter
      v-model="splitterModel"
      style="height: 250px"
    >

      <template>
        <q-tabs
          v-model="tab"
          vertical
          class="text-teal"
          style="margin-top:98px"
        >
          <q-route-tab to="/" label="welii" />
        <q-route-tab to="/soluciones" label="soluciones" />
        <q-route-tab to="/gowelii" label="gowelii" />
        <q-route-tab to="/gomedisys" label="gomedisys" />
        <q-tab @click="openURL('http://aulavirtual.welii.com/')" label="campus"/>
        <q-route-tab to="/contacto" label="contacto" />
        </q-tabs>
      </template>

      

    </q-splitter>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="sct footer row q-pa-xl">

      <div class="q-px-xl col-md col-sm-4 column items-start">

        <h6 class="q-px-md">SÍGUENOS</h6>
        <div class="q-px-lg">
            <div class="q-gutter-md">
              <q-btn flat dense @click="openURL('https://www.instagram.com/weliiok/')">
                <q-icon name="fab fa-instagram"></q-icon>
              </q-btn>

              <q-btn flat dense @click="openURL('https://www.linkedin.com/company/welii---smart-health')">
                <q-icon name="fab fa-linkedin-in"></q-icon>
              </q-btn>

            </div>

            <div class="q-gutter-md">
              <q-btn flat dense @click="openURL('https://www.facebook.com/WeliiOk/')">
                <q-icon name="fab fa-facebook-f"></q-icon>
                </q-btn>
              <q-btn flat dense @click="openURL('https://twitter.com/WeliiOk')">
                <q-icon name="fab fa-twitter"></q-icon>
                </q-btn>

            </div>
        </div>

      </div>
      <div class="col-md column col-xs-12 col-sm-12 items-end justify-center q-px-xl footer-img">
        <q-avatar>
            <img class="cursor-pointer" src="~assets/logo.png" @click="$router.push('/')">
          </q-avatar>
      </div>

    </q-footer>

  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      left: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>

@media screen and (max-width: 768px) {
  .footer>div, .obj {
    width: 100%;
    text-align: center;
  }
  .obj {
    padding:0 48px;
    margin: 24px 0;
  }
  .footer-img {
    align-items: center;
    margin-top: 16px;
  }
  .content-sol {
    margin: 3rem 0 0 0;
    padding: 10px;
    
  }
  .content-sol img{
    width: 250px;
    margin-top: 3rem;
  }
  .sct .modular-group {
    margin: 10px;
  }
  .modular {
    font-size: 18px!important;
  }
  .sct {
    padding: 10px;
    margin: 5px;
  }
  .sct p {
    font-size: 20px!important;
  }
}
  @media screen and (min-width: 600px) and (max-width: 768px) {
    .footer>div, .obj {
    padding:0 24px;
  }
  .content-sol {
    display: flex;
    justify-content: center;
  }
  
  .content-sol img{
    width: 80%;
    margin-top: 3rem;
  }
  .obj {
    margin: 0;
  }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .content-sol img {
    width: 550px;
  }

  }
  @media screen and (max-width: 768px) {
    .header img {
    width: 100px;
  }

  }
  
.footer {
  background-color: #e8e8e8;
  color: #606060;
}

a.q-tab, div.q-tab {
  color: #606060;
  text-transform: lowercase;
}
.q-tab__label {
  font-size: 20px;
  color: #606060;
  text-transform: lowercase;
}
.q-tab--active .q-tab__indicator {
  opacity: 0;
}
</style>
